.app {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  min-height: 600px;
  background-image: url('/design/images/58328.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.panel {
  position: relative;
  min-width: 350px;
  padding: 40px 20px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
}
.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  padding: 40px 50px;
}
