* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background-image: url('/design/images/58328.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  resize: both;
  overflow: hidden;
}

.ui.selection.dropdown,
.ui.dropdown .menu {
  background: none !important;
  border: none;
  border-bottom: 2px solid white;
  border-color: white !important;

  span,
  .text,
  .icon,
  .text:not(.default),
  input,
  .message {
    color: white !important;
  }

  @media (max-width: 768px) {
    .item {
      background: white !important;
      .text {
        color: black !important;
      }
    }
  }

  .message {
    color: red !important;
  }
}

@keyframes animateMain {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
  }
}
