* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/design/images/58328.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(20px);
}

.ui.selection.dropdown,
.ui.dropdown .menu {
  background: none !important;
  border: none;
  border-bottom: 2px solid white;
  border-color: white !important;
  span,
  .text,
  .icon,
  .text:not(.default),
  input,
  .message {
    color: white !important;
  }
  .message {
    color: #0088ff !important;
  }
}
